[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RcppEnsmallen"]
	path = RcppEnsmallen
	url = https://github.com/coatless-rpkg/rcppensmallen
[submodule "cetcolor"]
	path = cetcolor
	url = https://github.com/coatless-rpkg/cetcolor
[submodule "checktor"]
	path = checktor
	url = https://github.com/coatless-rpkg/checktor
[submodule "errorist"]
	path = errorist
	url = https://github.com/coatless-rpkg/errorist
[submodule "jjb"]
	path = jjb
	url = https://github.com/coatless-rpkg/jjb
[submodule "livelink"]
	path = livelink
	url = https://github.com/coatless-rpkg/livelink
[submodule "msos"]
	path = msos
	url = https://github.com/coatless-rpkg/msos
[submodule "multideploy"]
	path = multideploy
	url = https://github.com/coatless-rpkg/multideploy
[submodule "paintr"]
	path = paintr
	url = https://github.com/coatless-rpkg/paintr
[submodule "peeky"]
	path = peeky
	url = https://github.com/coatless-rpkg/peeky
[submodule "rgen"]
	path = rgen
	url = https://github.com/coatless-rpkg/rgen
[submodule "searcher"]
	path = searcher
	url = https://github.com/coatless-rpkg/searcher
[submodule "shinyelectron"]
	path = shinyelectron
	url = https://github.com/coatless-rpkg/shinyelectron
[submodule "sitmo"]
	path = sitmo
	url = https://github.com/coatless-rpkg/sitmo
[submodule "surreal"]
	path = surreal
	url = https://github.com/coatless-rpkg/surreal
[submodule "ucimlrepo"]
	path = ucimlrepo
	url = https://github.com/coatless-rpkg/ucimlrepo
[submodule "visualize"]
	path = visualize
	url = https://github.com/coatless-rpkg/visualize
