[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cetcolor"]
	path = cetcolor
	url = https://github.com/coatless-rpkg/cetcolor
[submodule "jjb"]
	path = jjb
	url = https://github.com/coatless-rpkg/jjb
[submodule "msos"]
	path = msos
	url = https://github.com/coatless-rpkg/msos
[submodule "RcppEnsmallen"]
	path = RcppEnsmallen
	url = https://github.com/coatless-rpkg/rcppensmallen
[submodule "rgen"]
	path = rgen
	url = https://github.com/coatless-rpkg/rgen
[submodule "sitmo"]
	path = sitmo
	url = https://github.com/coatless-rpkg/sitmo
[submodule "visualize"]
	path = visualize
	url = https://github.com/coatless-rpkg/visualize
