[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RcppEnsmallen"]
	path = RcppEnsmallen
	url = https://github.com/coatless-rpkg/rcppensmallen
	shallow = true
	registered = true
